<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj zwierzaka</title>
</head>
<body>

    <form action="/dodaj" method="post" th:object="${animal}">
        Imię: <input type="text" th:field="*{name}" required="required"><br/>
        Obrazek: <input type="text" th:field="*{img}"><br/>
        Kategoria: <select th:field="*{species}">
            <option value="" disabled selected>Wybierz...</option>
            <option value="CAT">Kot</option>
            <option value="DOG">Pies</option>
            <option value="OTHER">Inne</option>
        </select><br/>
        Opis: <textarea placeholder="Opis" th:field="*{description}"></textarea><br/>
        <input type="submit" value="Dodaj">
    </form>
</body>
</html>