<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schronisko</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css"/>

</head>
<body>
<div class="header">

    <h1>Schronisko Reksio i Klakier</h1>

</div>
<div class="content">

    Gatunki:
    <a href="/">Wszystkie</a>
    <a href="/?gatunek=CAT">Koty</a>
    <a href="/?gatunek=DOG">Psy</a>
    <a href="/?gatunek=OTHER">Inne</a>

    <h2>Zwierzaki szukające domu:</h2>

    <a th:href="@{'/zwierzak?imie=' + ${animal.name}}" class="animal" th:each="animal: ${animals}">
            <img th:src="${animal.img}" style="width: 300px; min-width: 300px"/>
            <div class="animal-info ml-2">
                <h2 th:text="${animal.name}">Azor</h2>
                <p th:text="${animal.description}">opis opis opis</p>
            </div>
    </a>
</div>
</body>
</html>